<html>
<head>
  <title>Message Responder</title>
</head>
<body>
  <%= erb :_debug if @debug_message %>

  <% if @response_message %>
    <% @response_message.each do |line| %>
      <%= line %><br />
    <% end %>
  <% end %>

  <p>Enter a message to save it to the cloud:</p>

  <form action='./' method='post'>
    <input type='text' name='message'>
    <input type='submit' value='Submit'>
  </form>

  <br />
  File Contents:<br />
  <% @contents.each do |line| %>
    <%= line %><br />
  <% end %>
</body>
</html>
